# This workflow will install Python dependencies, run tests and lint with Python 3.8
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8']

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8 pytest
        git clone -q --depth=1 https://github.com/gem/oq-engine.git 
        pip install -r oq-engine/requirements-py38-linux64.txt
        pip install -e oq-engine
        pip install -e .
    - name: Lint with flake8
      run: |
        # exit-zero treats all errors as warnings
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
    - name: Test with pytest
      run: |
        pytest -vsx tests/hazard/conditional_simulation_test.py
        pytest -vsx tests/intensity_measures_test.py
        pytest -vsx tests/trellis/trellis_test.py
        pytest -vsx tests/parsers/asa_parser_test.py
        pytest -vsx tests/parsers/esm_flatfile_parser_test.py
        pytest -vsx tests/residuals/residuals_test.py

